{% extends 'base.html.twig' %}

{% block title %}ZenEtude - Accueil{% endblock %}

{% block body %}

    {{ include('_nav.html.twig') }}

    {{ include('home/_hero.html.twig') }}

    <section>
        <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
                <div class="relative z-10 lg:py-16">
                    <div class="relative h-64 sm:h-80 lg:h-full">
                        <img
                                alt=""
                                src="{{ asset('img/etudiant_calme.jpg') }}"
                                class="absolute inset-0 h-full w-full object-cover"
                        />
                    </div>
                </div>

                <div class="relative flex items-center bg-gray-100">
        <span
                class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

                    <div class="p-8 sm:p-16 lg:p-24">
                        <h2 class="text-2xl font-bold sm:text-3xl">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, debitis.
                        </h2>

                        <p class="mt-4 text-gray-600">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, molestiae! Quidem est
                            esse numquam odio deleniti, beatae, magni dolores provident quaerat totam eos, aperiam
                            architecto eius quis quibusdam fugiat dicta.
                        </p>

                        <a
                                href="#"
                                class="mt-8 inline-block rounded border border-indigo-600 bg-green-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                        >
                            Get in Touch
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                <div class="bg-green-600 p-8 md:p-12 lg:px-16 lg:py-24">
                    <div class="mx-auto max-w-xl text-center">
                        <h2 class="text-2xl font-bold text-white md:text-3xl">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit
                        </h2>

                        <p class="hidden text-white/90 sm:mt-4 sm:block">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam
                            sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet amet
                            volutpat quisque ut interdum tincidunt duis.
                        </p>

                        <div class="mt-4 md:mt-8">
                            <a
                                    href="#"
                                    class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-green-500 transition hover:bg-transparent hover:text-white focus:outline-none focus:ring focus:ring-yellow-400"
                            >
                                Get Started Today
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
                    <img
                            alt=""
                            src="https://images.unsplash.com/photo-1621274790572-7c32596bc67f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80"
                            class="h-40 w-full object-cover sm:h-56 md:h-full"
                    />

                    <img
                            alt=""
                            src="https://images.unsplash.com/photo-1567168544813-cc03465b4fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            class="h-40 w-full object-cover sm:h-56 md:h-full"
                    />
                </div>
            </div>
        </div>
    </section>

    {{ include('_footer.html.twig') }}

{% endblock %}
